@import url("/static/assets/css/bootstrap.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("/static/assets/css/theme.css");
body {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: var(--bs-primary);
}

.icon-btn-xs {
  width: 2rem;
  height: 2rem;
}

.icon-btn-sm {
  width: 2.75rem;
  height: 2.75rem;
}

.icon-btn {
  width: 3rem;
  height: 3rem;
}

.icon-btn-lg {
  width: 7rem;
  height: 7rem;
}

.icon-btn, .icon-btn-lg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-btn i, .icon-btn-lg i {
  font-size: 1.5rem;
}

.dropdown-menu-lg {
  --bs-dropdown-min-width: 15rem;
}

.f-tab .nav-link:not(.active) {
  background: var(--bs-light-rgb);
  color: var(--bs-light-rgb);
}
.f-tab .nav-link.active {
  position: relative;
  border-radius: 0;
  transition: all 0.5s ease;
}
.f-tab .nav-link.active::after {
  content: "";
  border: 2px solid var(--cs-success);
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 60px;
  border-radius: var(--bs-nav-pills-border-radius);
}

#c-info .card {
  height: 4rem;
}

.lines {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}
.lines::before {
  content: "";
  width: 50%;
  height: 1px;
  background: var(--bs-black);
  margin-right: 0.5rem;
}
.lines::after {
  content: "";
  width: 50%;
  height: 1px;
  background: var(--bs-black);
  margin-left: 0.5rem;
}

/* Hide the up and down arrows in number input */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input {
  /* Optional: Add some additional styling */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Basic button styling */
#early-warning {
  box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
  animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  transition: all 300ms ease-in-out;
}

/* Comment-out to have the button continue to pulse on mouseover */
#early-warning:hover {
  animation: none;
  color: #ffffff;
}

/* Animation */
@keyframes pulsing {
  to {
    box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
  }
}
.u-img {
  width: 18rem;
  height: 12rem;
}

.bg-cover {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.overlay::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}

@media (max-width: 576px) {
  .u-img {
    width: 12rem;
    height: 10rem;
  }
  .icon-btn-lg {
    width: 3rem;
    height: 3rem;
    border-radius: 0.35rem;
  }
  .m-item {
    display: none;
  }
  .f-tab .nav-link.active::after {
    padding: 26px;
  }
}
#otpCode {
  position: absolute;
  transform: translateX(-100%);
  opacity: 0;
}

#resetEmail {
  transition: 1s;
  opacity: 1;
}

.digit-group input {
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  line-height: 50px;
  text-align: center;
  font-size: 24px;
}
.digit-group .splitter {
  padding: 0 0.5rem;
  font-size: 24px;
}/*# sourceMappingURL=app.css.map */