{% extends "base.html" %}
{% block content %}   
        <div class="container-fluid vh-100">
          <div class="row row-cols-1 row-cols-md-2 h-100">
            <div class="col h-100 hstack">
              <div class="h-95 w-100 rounded-4 bg-cover" style="background: url('/static/assets/img/07.jpg');"></div>
          </div>
            <div class="col hstack text-center">
              <div class="w-60 m-auto">
                <div class="text-center mt-3 mb-5">
                  <img src="/static/assets/img/logo/logo.png" class="img-fluid w-25" alt="">
                  <h1 class="fs-4 fw-bold">Hello! Welcome Back</h1>
                  <p class="mb-0 small">
                      Hey, Enter yout details to get sign in to your account!
                  </p>
              </div>
              <form method="post" class="hstack align-items-end flex-column h-75">
                {{ form.hidden_tag() }}
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  <ul style="list-style: none;">
                  {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                  {% endfor %}
                  </ul>
                {% endif %}
                {% endwith %}
                  <div class="w-100 mb-0 text-start position-relative">
                      {{ form.email.label(class= "form-label")}}
                      {{ form.email(class="form-control form-control-lg fs-6 ps-5") }}
                      <div class="position-absolute top-50 mt-1 ms-3"><i class="bi bi-envelope-fill text-secondary"></i></div>
                  </div>
                  <div class="w-100 my-3 text-start position-relative">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control form-control-lg fs-6 ps-5 toggle-password") }}
                      <div class="position-absolute top-50 mt-1 ms-3"><i class="bi bi-shield-lock-fill text-secondary"></i></div>
                      <div class="position-absolute top-50 end-0 mt-1 me-3">
                        <button class="btn bg-transparent border-0 p-0 toggle-pw" type="button">
                          <i class="bi bi-eye toggle-icon"></i>
                      </button>
                      </div>                      
                  </div>
                  <div class="w-100 mb-4 d-flex gap-4 text-start position-relative">
                  {{ form.remember(class="form-check-input") }}
                  {{ form.remember.label(class="form-check-label w-100") }}
                  <div class="w-100 mb-4 text-start position-relative">
                    <div class="position-absolute top-50 mt-1 ms-3"><i class="bi bi-check-circle-fill text-secondary"></i></div>
                  </div>
                  </div>
                  <div class="hstack justify-content-between mb-4">
                    <span>Forgot Password?</span>
                    <span><a href="/forgot-password" class="text-decoration-underline -success">Reset it</a></span>
                  </div>
                  {{ form.submit(class="btn cs-success w-100 text-white")}}
                  <span class="lines my-4">or</span>
                  <small class="mt-auto w-100">Don't have an account? <a href="/register" class="fw-medium">Register Now</a></small>
              </form>
              </div>
            </div>
          </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/static/assets/js/app.js"></script>
        <script src="/static/assets/js/validate.js"></script>
{% endblock %}
